---
import Layout from '../layouts/Layout.astro';
export const prerender = false;

const api_url = import.meta.env.PUBLIC_API_URL;

const res = await fetch(`${api_url}/api/validate`, {
  method: 'GET',
  headers: {
    cookie: Astro.request.headers.get('cookie') || '',
  },
  credentials: 'include',
});

let user = null;
if (res.ok) {
  return Astro.redirect('/scanbill');
}
---

<Layout>
  <div id="config" data-api-url={api_url}></div>
  <div
    class="bg-white p-8 rounded-xl shadow-md w-full max-w-sm flex flex-col items-center mx-auto mt-20"
  >
    <h1 class="text-2xl font-bold mb-6 text-center">Iniciar sesión</h1>

    <form id="login-form" class="space-y-4">
      <input
        type="text"
        autocomplete="off"
        name="username"
        placeholder="Usuario"
        required
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <input
        type="password"
        name="password"
        placeholder="Contraseña"
        required
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        type="submit"
        class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 transition-colors"
      >
        Iniciar sesión
      </button>
    </form>

    <div class="mt-6 text-center">
      <span class="text-gray-500">o</span>
    </div>

    <div class="mt-4">
      <a
        href="http://localhost:4000/auth/google"
        class="w-full inline-block text-center bg-red-500 text-white p-3 rounded-xl hover:bg-red-600 transition"
      >
        Iniciar con Google
      </a>
    </div>

    <p id="status" class="mt-4 text-center text-red-500"></p>

    <script type="module">
      const api_url = document.getElementById('config').dataset.apiUrl;
      document
        .getElementById('login-form')
        .addEventListener('submit', async e => {
          e.preventDefault();
          const form = e.target;
          const username = form.username.value;
          const password = form.password.value;

          const res = await fetch(`${api_url}/api/login`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            credentials: 'include',
            body: JSON.stringify({ username, password }),
          });

          if (res.ok) {
            window.location.href = '/scanbill';
          } else {
            document.getElementById('error-msg').classList.remove('hidden');
          }
        });
    </script>
  </div>
</Layout>
